<div class="row">
  <!-- Información General -->
  <div class="col-12 col-md-6 mb-4">
    <div class="card detail-card h-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title">
          <i class="bi bi-info-circle me-2 text-primary"></i>
          Información General
        </h3>
        <div class="edit-controls">
          <button
            *ngIf="!isEditing"
            class="btn-edit"
            (click)="toggleEditing()"
          >
            <i class="bi bi-pencil"></i>
          </button>

          <div *ngIf="isEditing" class="action-buttons">
            <button
              class="btn-action btn-save me-1"
              (click)="onSaveSection()"
            >
              <i class="bi bi-check"></i>
            </button>
            <button
              class="btn-action btn-cancel"
              (click)="onCancelEditing()"
            >
              <i class="bi bi-x"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-4">
        <div class="row">
          <div class="col-12">
            <div class="detail-row mb-3">
              <div class="detail-label">Nombre</div>
              <div
                class="detail-value"
                *ngIf="!isEditing"
              >
                {{ subcanal.nombre }}
              </div>
              <input
                *ngIf="isEditing"
                type="text"
                class="form-control"
                [value]="subcanalFormData.nombre"
                (input)="onUpdateField('nombre', $event)"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-row mb-3">
              <div class="detail-label">Provincia</div>
              <div
                class="detail-value"
                *ngIf="!isEditing"
              >
                {{ subcanal.provincia }}
              </div>
              <input
                *ngIf="isEditing"
                type="text"
                class="form-control"
                [value]="subcanalFormData.provincia"
                (input)="onUpdateField('provincia', $event)"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-row mb-3">
              <div class="detail-label">Localidad</div>
              <div
                class="detail-value"
                *ngIf="!isEditing"
              >
                {{ subcanal.localidad }}
              </div>
              <input
                *ngIf="isEditing"
                type="text"
                class="form-control"
                [value]="subcanalFormData.localidad"
                (input)="onUpdateField('localidad', $event)"
              />
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
