<div class="canales-container">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Contenido principal -->
  <div class="content-area">
    <!-- Encabezado -->


    <!-- Contenido de la tabla -->
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Listado de Clientes</h2>
      </div>
      <div class="card-body">
         <!-- Indicador de carga -->
         <div *ngIf="loading" class="text-center p-5">
          <p class="mt-2">Cargando canales...</p>
        </div>

        <!-- Mensaje de error -->
        <div *ngIf="error && !loading" class="alert alert-danger">
          {{ error }}
        </div>

        <!-- Tabla de datos -->
        <div *ngIf="!loading && !error" class="table-responsive">
          <table class="custom-table">
            <thead>
              <tr>
                <th style="width: 50px">ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Operación</th>

                <th style="width: 120px" class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.id }}</td>
                <td>
                  <div>
                    <a class="text-dark fw-bold text-hover-primary cursor-pointer" (click)="verDetalle(cliente.id)">
                      {{ cliente.nombre }} {{ cliente.apellido }}
                    </a>
                  </div>
                </td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ "" }}</td>

                <td class="text-center">
                  <div class="actions-container">
                    <!-- Botón de ver detalle -->
                    <button class="btn-action" title="Ver detalles" (click)="verDetalle(cliente.id)">
                      <i class="bi bi-chevron-right"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Mensaje cuando no hay clientes -->
          <div *ngIf="clientes.length === 0" class="text-center p-5">
            No hay clientes registrados.
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
