<div class="modal-container">
  <div class="modal-header">
    <h2>Agregar a inicio</h2>
    <ion-button fill="clear" (click)="rechazar()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="modal-body">
    <p>¿Querés agregar <strong>Mundo Prendario</strong> a tu pantalla de inicio?</p>
    <div class="form-footer">
      <button class="btn btn-light" (click)="rechazar()">No, gracias</button>
      <button class="btn btn-primary" (click)="instalar()">Sí, instalar</button>
    </div>
  </div>
</div>
