<div class="subcanal-tabs card mb-4">
  <div class="card-body p-0">
    <div class="tab-navigation border-bottom">
      <ul class="nav">
        <li class="nav-item" *ngFor="let tab of tabs">
          <a
            class="nav-link nav-link-border"
            [class.active]="activeTab === tab.id"
            (click)="setActiveTab(tab.id)"
          >
            <i class="bi {{ tab.icon }} me-2"></i>
            {{ tab.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
