@import '../../../../theme/variables.scss';


/* Estilos para badges */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0.75em;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.25rem;
  white-space: nowrap;

  &.badge-success {
    background-color: rgba(80, 205, 137, 0.1);
    color: #50cd89;
  }

  &.badge-danger {
    background-color: rgba(241, 65, 108, 0.1);
    color: #f1416c;
  }

  &.badge-warning {
    background-color: rgba(255, 199, 0, 0.1);
    color: #ffc700;
  }

  &.badge-info {
    background-color: rgba(0, 158, 247, 0.1);
    color: #009ef7;
  }

  &.badge-light {
    background-color: rgba(222, 226, 230, 0.5);
    color: #7e8299;
  }
}


